/* default style start */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

:root {
    --primary-font: "Lora", serif;
    --secondary-font: "Plus Jakarta Sans", sans-serif;
    --primary-color: #5A76FF;
    --secondary-color: #D589DD;
    --body-background-color: white;
    --card-bg: #F3F7F8;
    --heading-font-size: 3.5rem;
    --heading-text-color: #090F32;

}

.btn {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 15px;
}

.btn i {
    position: relative;
    top: 2px;
    left: 2px;
}

.btn:hover {
    background-color: var(--secondary-color);
    transition: background-color .3s ease;
}

body {
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: antialiased;
}



ul li {
    list-style: none;

}

/* default style start */

/* hero section start */

.hero-head {
    background-image: url(/assets/images/hero-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;



}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.navLinks {
    display: flex;

}

.navLinks i {
    background-color: var(--primary-color);
    border-radius: 30%;
    color: white;
    padding: .3rem .1rem;
}

.navLinks li a {
    margin-left: 1rem;
    color: var(--heading-text-color);
    text-decoration: none;
    font-size: 1.5rem;
}

.navLinks li a:hover {
    color: var(--primary-color);
    transition: color .3s ease;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 3.5rem;
    margin-left: 1.5rem;

}

.hero-text p {
    font-family: var(--secondary-font);
}

.hero-text h1 {
    font-size: var(--heading-font-size);
}

.hero-text p {
    font-size: 1rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}


.hero-div .hero-img img {
    width: 490px;
    margin-left: 4rem;

}




.hero-div {
    display: flex;
    justify-content: space-evenly;
}

/* hero section end  */

/* service section start */
.service-section {
    padding: 4rem 0;
}

.service-head {
    display: flex;
    justify-content: space-between;

}

.service-head h2 {
    font-size: 3rem;
}

.service-head-text p {
    color: var(--primary-color);
    font-weight: 400;
}

.service-head-icon i {
    border: 2px solid black;
    border-radius: 8px;
    padding: .8rem 2rem .8rem .8rem;
    color: black;
    text-align: center;

}


/* service section end */