/* default style start */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

:root {
    --primary-font: "Lora", serif;
    --secondary-font: "Plus Jakarta Sans", sans-serif;
    --primary-color: #5A76FF;
    --secondary-color: #D589DD;
    --body-background-color: white;
    --card-bg: #F3F7F8;
    --heading-font-size: 3.5rem;
    --heading-text-color: #090F32;

}

.btn {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 15px;
}

.btn i {
    position: relative;
    top: 2px;
    left: 2px;
}

.btn:hover {
    background-color: var(--secondary-color);
    transition: background-color .5s ease;
}

body {
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: antialiased;
}



ul li {
    list-style: none;

}

/* default style start */

/* hero section start */

.hero-head {
    background-image: url(../images/hero-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;



}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.navLinks {
    display: flex;

}

.navLinks i {
    background-color: var(--primary-color);
    border-radius: 30%;
    color: white;
    padding: .3rem .1rem;
    cursor: pointer;
}

.navLinks li a {
    margin-left: 1rem;
    color: var(--heading-text-color);
    text-decoration: none;
    font-size: 1.5rem;
}

.navLinks li a:hover {
    color: var(--primary-color);
    transition: color .5s ease;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 3.5rem;
    margin-left: 1.5rem;

}

.hero-text p {
    font-family: var(--secondary-font);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero-text h1 {
    font-size: var(--heading-font-size);
}

.hero-text p {
    font-size: 1rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}


.hero-div .hero-img img {
    width: 490px;
    margin-left: 4rem;

}




.hero-div {
    display: flex;
    justify-content: space-evenly;
}

/* hero section end  */

/* service section start */
.service-section {
    padding: 4rem 0;
}

.service-head {
    display: flex;
    justify-content: space-between;

}

.service-head h2 {
    font-size: 3rem;
}

.service-head-text p {
    color: var(--primary-color);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

.service-head-icon {
    padding-top: 3rem;
}

.service-head-icon i {
    border: 2px solid black;
    border-radius: 8px;
    padding: .8rem 2rem .8rem .8rem;
    color: black;
    text-align: center;
    margin-left: .5rem;
    cursor: pointer;

}

.service-head-icon i:hover {
    background-color: black;
    color: whitesmoke;
    transition: background-color .5s ease;

}




.service-card {

    padding: 2rem 2rem;
    border-radius: 1rem;
    background-color: var(--card-bg);
    line-height: 2.5rem;
}

.service-card:hover {
    background-color: var(--primary-color);
    color: white;
    transition: background-color .5s ease;

}

.service-card img {
    padding-bottom: 2.5rem;
}

.read-more {
    display: inline-flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    gap: .2rem;
}

.service-card-sec {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* service section end */

/* portfolio section start */


.portfolio-text {
    text-align: center;
}

.portfolio-text h2 {
    font-size: 3rem;
}

.portfolio-text p {
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

.portfolio-btn-sec {
    background-color: white;
    margin: 1.5rem 0;
    display: inline-block;
    padding: 1rem .5rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    border-radius: 8px;
}

.active {
    background-color: #F3F7F8;
    padding: .4rem;
    border-radius: 3px;

}

.portfolio-btn-sec .portfolio-btn {
    margin-left: 1.5rem;
}

.portfolio-btn-sec .portfolio-btn:hover {
    cursor: pointer;
    background-color: #F3F7F8;
    padding: .4rem;
    border-radius: 3px;
    transition: background-color .2s ease, padding .2s ease, border-radius .2s ease;
}



.portfolio-card-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.portfolio-card img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;

}

.portfolio-card img:hover {
    transform: translate(0px, -12px);
    transition: transform .3s ease;
}

/* portfolio section end */

/* skill section start */

.skill-section {
    padding: 3rem 0;
    margin-top: 2rem;

}

.skill-div {
    text-align: center;
}

.skill-text h2 {
    font-size: 3rem;
}

.skill-text p {
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

.skill-left-card {
    background-color: var(--primary-color);
    color: white;
    text-align: left;
    /* line-height: 2rem; */
    padding: 2rem 1rem;
    border-radius: 16px;

}

.skill-left-card h2 {
    padding-bottom: 1rem;
}

.skill-left-card p {
    line-height: 1.5rem;
}

.skill-left-icon-div {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: white;
    border-radius: 8px;
    padding: .5rem .5rem;
    /* display: inline-block; */
}

.skill-left-icon-div img {
    width: 50px;
}

.skill-center-card {
    background-color: var(--card-bg);
    text-align: left;
    line-height: 2.5rem;
    padding: 2rem 1rem;
    border-radius: 16px;
}

.skill-right-card {
    padding: 3rem;
    text-align: left;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.skill-right-btn-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.skill-3-grid {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    /* height: 300px; */
}

.skill-center-card p {
    margin-top: 16px;
}

.skill-project {
    background-color: var(--secondary-color);
    color: white;
    text-align: left;
    padding: 2rem;
    border-radius: 16px;
    line-height: 2rem;
}

.skill-project p {
    padding-bottom: 1rem;
}

.skill-project h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.skill-project-contact a {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 8px;
}

.skill-edu img {
    width: 60px;
}

.skill-edu {
    background-color: var(--primary-color);
    color: white;
    text-align: left;
    padding: 2rem;
    border-radius: 16px;
    line-height: 2rem;
}

.skill-edu h2 {
    margin-bottom: .5rem;
}

.skill-2-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

/* skill section end */

/* progress section start */
.progress-card-sec {
    margin-top: 2rem;
}

.progress-text {
    display: flex;
    justify-content: space-between;
}

.progress {
    text-align: center;
}

.progress-text-left {
    text-align: left;

}

.progress-text-left p {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 14px;

}

.progress-text-left h2 {
    font-size: 2.5rem;
}

.progress-text-right {
    text-align: justify;
}

.progress-card-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-card-img-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.progress-card-img-flex img {
    background-color: #F3F7F8;
    padding: 8px;
    border-radius: 8px;
}

.progress-bar {
    width: 100%;
    height: 6px;
    background-color: #F3F7F8;
    border-radius: 18px;
    margin: 1.5rem 0;
}

.progress-line {
    background-color: var(--primary-color);
    width: 90%;
    height: 100%;
    border-radius: 18px;

}


/* progress section end */

<<<<<<< HEAD
/* elevate section start */
.elevate-section {
    background: url(../images/testimonial-bg.png);
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.elevate-text {
    text-align: center;
    padding: 8rem 0 0 0;
    color: white;
}

.elevate-text h2 {
    font-size: 3rem;
    font-family: var(--primary-font);

}

.evalate-img img {
    width: 520px;
    height: 540px;
}

.evalate-img {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.evalate-img-side {
    background: white;
    width: 500px;
    height: 300px;
    position: relative;
    right: 4rem;
    z-index: 1;
    top: 6rem;
    border-radius: 16px;
    padding: 2rem 4rem 10rem 4rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.evalate-img-side i {
    padding: 0 0 1rem 0;
}

.evalate-img-side-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.evalate-img-side-bottom-img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.evalate-img-side-bottom-img {
    padding: 1.5rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.evalate-img i {
    color: var(--primary-color);
}

.elevate-section-side-arrow {
    display: flex;
    justify-content: right;
    align-items: center;
}

.elevate-section-side-arrow i {
    border: 2px solid white;
    padding: 1rem 2rem 1rem 1rem;
    color: white;
    border-radius: 8px;
}

.elevate-section-side-arrow i:hover {
    background-color: white;
    color: black;
    cursor: pointer;

}

/* elevate section end */
=======
>>>>>>> 22f1dc775f9c1850c42c6dec7f18478f64a2c269
