/* default style start */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

:root {
    --primary-font: "Lora", serif;
    --secondary-font: "Plus Jakarta Sans", sans-serif;
    --primary-color: #5A76FF;
    --secondary-color: #D589DD;
    --body-background-color: white;
    --card-bg: #F3F7F8;
    --heading-font-size: 3.5rem;
    --heading-text-color: #090F32;

}

.btn {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 15px;
}

.btn i {
    position: relative;
    top: 2px;
    left: 2px;
}

.btn:hover {
    background-color: var(--secondary-color);
    transition: background-color .5s ease;
}

body {
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: antialiased;
}



ul li {
    list-style: none;

}

/* default style start */

/* hero section start */

.hero-head {
    background-image: url(../images/hero-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;



}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.navLinks {
    display: flex;

}

.navLinks i {
    background-color: var(--primary-color);
    border-radius: 30%;
    color: white;
    padding: .3rem .1rem;
    cursor: pointer;
}

.navLinks li a {
    margin-left: 1rem;
    color: var(--heading-text-color);
    text-decoration: none;
    font-size: 1.5rem;
}

.navLinks li a:hover {
    color: var(--primary-color);
    transition: color .5s ease;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 3.5rem;
    margin-left: 1.5rem;

}

.hero-text p {
    font-family: var(--secondary-font);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero-text h1 {
    font-size: var(--heading-font-size);
}

.hero-text p {
    font-size: 1rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}


.hero-div .hero-img img {
    width: 490px;
    margin-left: 4rem;

}




.hero-div {
    display: flex;
    justify-content: space-evenly;
}

/* hero section end  */

/* service section start */
.service-section {
    padding: 4rem 0;
}

.service-head {
    display: flex;
    justify-content: space-between;

}

.service-head h2 {
    font-size: 3rem;
}

.service-head-text p {
    color: var(--primary-color);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

.service-head-icon {
    padding-top: 3rem;
}

.service-head-icon i {
    border: 2px solid black;
    border-radius: 8px;
    padding: .8rem 2rem .8rem .8rem;
    color: black;
    text-align: center;
    margin-left: .5rem;
    cursor: pointer;

}

.service-head-icon i:hover {
    background-color: black;
    color: whitesmoke;
    transition: background-color .5s ease;

}




.service-card {

    padding: 2rem 2rem;
    border-radius: 1rem;
    background-color: var(--card-bg);
    line-height: 2.5rem;
}

.service-card:hover {
    background-color: var(--primary-color);
    color: white;
    transition: background-color .5s ease;

}

.service-card img {
    padding-bottom: 2.5rem;
}

.read-more {
    display: inline-flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    gap: .2rem;
}

.service-card-sec {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* service section end */

/* portfolio section start */
.portfolio-section {
    padding: 4rem 0;
}

.portfolio-text {
    text-align: center;
}

.portfolio-text h2 {
    font-size: 3rem;
}

.portfolio-text p {
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

.portfolio-btn-sec {
    background-color: white;
    margin-top: .5rem;
    display: inline-block;
    padding: 1rem .5rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.portfolio-btn-sec .portfolio-btn {
    background-color: wheat;
}

/* portfolio section end */